body{
    background-color: rgb(221, 228, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    
}

h1{
    font-size: 40px;
}
.calculator{
    border: 2px solid black;
    width:370px;
    height: 450px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 68, 88);
    border-radius: 10px;
}
.display{
    color: white;
    border: px solid #555555;
    border-radius: 5px;
    width: 340px;
    height:80px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color:#646262;
}
.current{
    font-size: 25px;
    margin-top: 25px;
    padding-right: 10px;
}

.previous{
    font-size: 20px;
    padding-right: 10px;
    padding-top: 10px;
    height: 10px;
}

.btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin-top: 20px;
    width: 340px;
    height: 310px;
    gap: 5px;
    
}

.btn{
    font-size: 18px;
    flex: 0  1 23%;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 0px 2px 1px 0px black;
    
}

.btn.digit:hover{
    background-color: #7dcaca;
}

.btn:hover{
    background-color: #7dcaca;
}

#clear:hover{
    background-color: rgb(253, 68, 68);
}

#equalBtn:hover{
    background-color:#028090;
}

footer{
    background-color:rgb(22, 68, 88);
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

